<div class="card m-3" style="width: 18rem;">
    <img class="card-img-top" src="{{ hike.image.url }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ hike.name }}</h5>
        <p class="card-text">{{ hike.description }}</p>
        <a href="{% url 'python details' hike.id hike.name %}">See more</a> #to be changed to actually show details of the hike.
        {% if hike.can_delete %}
            <button class="btn btn-danger">Delete</button>
        {% endif %}
    </div>
</div>
